@use "../../styles/variables.scss" as *;

.wp-block-code-samples-10up-zach-rener-post-grid {
    padding: 80px 0;
    position: relative;
    width: 100%;
    max-width: none !important;

    h3 {
        @include size_h3;
        text-align: center;
        border-bottom: 1px solid #cac2bc;
        padding-bottom: 16px;
    }

    .posts {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 40px;

        .post {
            img {
                width: 100%;
                height: auto;
                max-height: 212px;
                object-fit: cover;
                object-position: top;
            }

            .date {
                @include size_date;
                margin-top: 10px;
                text-transform: uppercase;
            }

            h4 {
                @include size_h4;
                margin-top: 15px;
                margin-bottom: 0;
            }

            .excerpt p {
                @include size_paragraph;
                margin-bottom: 0;
                margin-top: 16px;
            }
        }
    }
}
